
<div class="modal fade" id="new_card" tabindex="-1" role="dialog" arial-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" arial-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Card</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:card, :url => user_cards_path(current_user.id)) do |f| %>
        
        <input type="hidden" value="<%= current_user.id %>" name="card[user_id]">

        <div class="emotions-field">
          <%= f.label :emotions %><br>
          <%= f.text_field :emotions %>
        </div>

        <div class="intensity-field">
          <% intensity_arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
          <%= f.label :intensity %><br />
          <%= f.select(:intensity, options_for_select(intensity_arr))%>
        </div>

        <div class="card-field">
          <%= f.label :thoughts %><br>
          <%= f.text_area :thoughts %>
        </div>

        <div class="card-field">
          <%= f.label :reflection %><br>
          <%= f.text_area :reflection %>
        </div>

      </div>
      <div class="modal-footer">
        <%= f.submit 'Add Card', { class: "btn btn-success"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
