<div class="content">
  <%= render "shared/nav_btn" %>
  <div class="container" id="user-dash">
    <% if current_user.provider? %>
      <ul class="nav nav-pills">
        <li class="u-dash" role="presentation" class="active"><a href="#">Feed</a></li>
        <li class="u-dash" role="presentation"><a href="#">Clients</a></li>
        <li class="u-dash" role="presentation"><a href="#">Settings</a></li>
        <div class="input-group input-group-lg col-md-4">
          <input type="text" class="form-control" placeholder="Last name, First name" aria-describedby="sizing-addon1">
          <span class="input-group-addon" id="sizing-addon1">Search users</span>
        </div>
      </ul>
    <% else %>
      <ul class="nav nav-pills">
        <li class="u-dash" role="presentation" data-toggle="modal" data-target="#new_card"><a href="#">Create Card</a></li>
        <li class="u-dash" role="presentation"><a href="#">Stats</a></li>
        <li class="u-dash" role="presentation"><a href="#">My Cards</a></li>
        <li class="u-dash" role="presentation"><a href="#">Settings</a></li>
        <div class="input-group input-group-lg col-md-4">
          <input type="text" class="form-control" placeholder="Last name, First name" aria-describedby="sizing-addon1">
          <span class="input-group-addon" id="sizing-addon1">Search providers</span>
        </div>
      </ul>
    <% end %>
  </div>

</div>
<br><br>
<div class="col-md-6 col-md-offset-3">
  <% @cards.each do |card| %>
  <div class="list-group">
      <a href="/cards/<%= card.id %>" class="list-group-item">
        <p class="list-group-item-emotion"><strong>Emotions: <%= card.emotions %></strong></p>
        <p class="list-group-item-intensity"><strong>Intensity: </strong><br><%= card.intensity %></p>
        <p class="list-group-item-thoughts"><strong>Thoughts: </strong><br><%= card.thoughts %></p>
        <p class="list-group-item-reflection"><strong>Reflection: </strong><br><%= card.reflection %></p>
      </a>
   </div>
  <% end %>
</div>
