<div class="content">
  <%= render "shared/nav_btn" %>
  <a class="navbar-brand" id="logo" href="/"><strong>CBT</strong>-Cards</brand></a>
  <div class="container" id="user-dash">
    <% if current_user.provider? %>
      <ul class="nav nav-pills" role="pilllist">
        <li class="u-dash" role="presentation" data-toggle="modal" data-target="#new_goal"><a href="#">New Weekly Goal</a</li>
        <li class="u-dash active" role="presentation" class="active"><a href="#client-cards" aria-controls="client-cards" role="pill" data-toggle="pill"><%= @user.first_name + ' ' + @user.last_name  %>'s Cards</a></li>
        <li class="u-dash" role="presentation"><a href="#client-stats" aria-controls="client-stats" role="pill" data-toggle="pill"><%= @user.first_name + ' ' + @user.last_name  %>'s Stats</a></li>
      </ul><br>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="client-cards"><div class="col-md-6 col-md-offset-3">
          <% @cards.each do |card| %>
          <div class="list-group">
            <a href="/cards/<%= card.id %>" class="list-group-item">
              <p class="list-group-item-emotion"><strong>Emotions: </strong>
                <% @emotions = card.emotions.split(', ') %>
                <% @emotions.each do |emotion| %>
                <span class="label label-primary"><%= emotion %></span>
                <% end %>
              </p>
              <p class="list-group-item-intensity"><strong>Intensity: </strong><br><%= card.intensity %></p>
              <p class="list-group-item-thoughts"><strong>Thoughts: </strong><br><%= card.thoughts %></p>
              <p class="list-group-item-reflection"><strong>Reflection: </strong><br><%= card.reflection %></p>
            </a>
            <div class="edit">
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#annotate_card">Annotate</button>
            </div>
          </div>
          <% end %>
        </div></div>
        <div role="tabpanel" class="tab-pane" id="client-stats"><div class="col-md-8 col-md-offset-2">
          <div class="panel">
            <br>
            <h2 class="user-heading"><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2><br>
            <ul class="profile">
              <li><strong>First Name: </strong><%= @user.first_name %></li>
              <li><strong>Last Name: </strong><%= @user.last_name %></li>
              <li><strong>Email: </strong><%= @user.email %></li>
              <li><strong>Card Count: </strong><%= @user.cards.count %></li>
              <br>
              <%= follow_or_unfollow @user %><br>
            </div>
          </div></div>
    <% end %>
  </div>
</div>
