<div class="content">
  <%= render "shared/nav_btn" %>
  <a class="navbar-brand" id="logo" href="#"><strong>CBT</strong>-Cards</brand></a>
  <% if current_user.provider? %>
    <ul class="nav nav-pills">
      <li class="u-dash active" role="presentation" class="active"><a href="#feed" aria-controls="feed" role="pill" data-toggle="pill">Feed</a></li>
      <li class="u-dash" role="presentation"><a href="#clients" aria-controls="clients" role="pill" data-toggle="pill">Clients</a></li>
      <li class="u-dash" role="presentation"><a href="#client-search" aria-controls="client-search" role="pill" data-toggle="pill">Client Search</a></li>
      <li class="u-dash" role="presentation"><a href="#settings" aria-controls="settings" role="pill" data-toggle="pill">Settings</a></li>
    </ul><br>
  <% end %>
</div>
<br>
<div class="body">
<div class="tabpanel"><div class="col-md-8 col-md-offset-2">
  <div class="panel">
    <h2 class="user-heading">Viewing, <%= @user.first_name %> <%= @user.last_name %>'s Profile</h2><br>
    <ul class="profile">
      <li><strong>First Name: </strong><%= @user.first_name %></li>
      <li><strong>Last Name: </strong><%= @user.last_name %></li>
      <li><strong>Email: </strong><%= @user.email %></li>
      <li><strong>Card Count: </strong><%= @user.cards.count %></li>
      <%= follow_or_unfollow @user %><br>

  </div>
</div></div>
