<div class="content">
  <%= render "shared/nav_btn" %>
  <a class="navbar-brand" id="logo" href="#"><strong>CBT</strong>-Cards</brand></a>
  <div class="container" id="user-dash">
    <% if current_user.provider? %>
      <ul class="nav nav-pills">
        <li class="u-dash" role="presentation" class="active"><a href="#feed" aria-controls="feed" role="pill" data-toggle="pill">Feed</a></li>
        <li class="u-dash" role="presentation"><a href="#clients" aria-controls="clients" role="pill" data-toggle="pill">Clients</a></li>
        <li class="u-dash" role="presentation"><a href="#client-search">Client Search</a></li>
        <li class="u-dash" role="presentation"><a href="#settings" aria-controls="settings" role="pill" data-toggle="pill">Settings</a></li>
      </ul><br>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="feed"><div class="col-md-6 col-md-offset-3">
            <% @clients.each do |client| %>
              <a href="/users/<%= client.id %>" class="list-group-item">
                <p class="list-group-item-full-name"><strong>Name: </strong>
                  <%= client.last_name %>, <%= client.first_name %>
                </p>
                <p class="list-group-item-new-cards"><strong>New Cards: </strong>
                  <%= client.cards.count %>
                </p>
              </a>
            </div>
            <% end %>
          </div>
        <div role="tabpanel" class="tab-pane" id="clients"><div class="col-md-6 col-md-offset-3">
            <% @clients.each do |client| %>
            <div class="list-group">
              <a href="/users/<%= client.id %>" class="list-group-item">
                <p class="list-group-item-full-name"><strong>Name: </strong>
                  <%= client.last_name %>, <%= client.first_name %>
                </p>
              </a>
            </div>
            <% end %>
          </div></div>
        <!-- <div role="tabpanel" class="tab-pane" id="client-search"><div class="col-md-6 col-md-offset-3">
          <div class="panel">
            <div class="client-search">
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <%= form_tag("/search", method: "get") do %>
                    <%= label_tag(:query, "Search for:") %>
                    <%= text_field_tag(:query) %>
                    <button type="submit" class="btn btn-info">Submit</button>
                  <% end %>
                </div>
              <br><br>
              <h3>Results</h3><br>
              <div class="list-group">
                <% if @users %>
                  <% @users.each do |user| %>
                    <a href="/users/<%= user.id %>" class="list-group-item">
                      <p class="list-group-item-name"><%= user.last_name + ", " + user.first_name %></p>
                    </a>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div></div>
        </div> -->
        <div role="tabpanel" class="tab-pane" id="settings"><div class="col-md-6 col-md-offset-3">
          <div class="panel" id="setting-panel">
            <div class="settings">
              <h3>Account Settings</h3>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <br>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off" %>
                </div>
                <br>
                <div class="actions">
                  <%= f.submit "Update", { class: "btn btn-primary"} %>
                </div>
              <% end %>
            </div>
          </div>
        </div></div>
      </div>
    <% else %>
      <ul class="nav nav-pills" role="pilllist">
        <li class="u-dash" role="presentation" data-toggle="modal" data-target="#new_card"><a href="#">Create Card</a></li>
        <li class="u-dash active" role="presentation"><a href="#my_cards" aria-controls="my_cards" role="pill" data-toggle="pill">My Cards</a></li>
        <li class="u-dash" role=" presentation"><a href="#stats" aria-controls="stats" role="pill" data-toggle="pill">Stats</a></li>
        <li class="u-dash" role="presentation"><a href="#settings" aria-controls="settings" role="pill" data-toggle="pill">Settings</a></li>
        <div class="input-group input-group-lg col-md-4">
          <input type="text" class="form-control" placeholder="Last name, First name" aria-describedby="sizing-addon1">
          <span class="input-group-addon" id="sizing-addon1">Search providers</span>
      </ul><br>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my_cards"><div class="col-md-6 col-md-offset-3">
          <% @cards.each do |card| %>
          <div class="list-group">
            <a href="/cards/<%= card.id %>" class="list-group-item">
              <p class="list-group-item-emotion"><strong>Emotions: </strong>
                <% @emotions = card.emotions.split(', ') %>
                <% @emotions.each do |emotion| %>
                  <span class="label label-default"><%= emotion %></span>
                <% end %>
              </p>
              <p class="list-group-item-intensity"><strong>Intensity: </strong><br><%= card.intensity %></p>
              <p class="list-group-item-thoughts"><strong>Thoughts: </strong><br><%= card.thoughts %></p>
              <p class="list-group-item-reflection"><strong>Reflection: </strong><br><%= card.reflection %></p>
            </a>
            <div class="edit">
              <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#edit_card">Edit</button>
            </div>
          </div>
          <% end %>
        </div></div>
        <br>
        <div role="tabpanel" class="tab-pane" id="stats"><div class="col-md-6 col-md-offset-3">
          <div class="panel">
            <div class="stats">
              <br><br>
              <h3>Stats</h3><br>
              <p>
                <strong>Card count: </strong><%= current_user.cards.count %>
              </p>
              <p>
                <strong>Case manager: </strong> Placeholder
              </p>
              <p>
                <strong>Progress: </strong> Placeholder
              </p>
            </div>
          </div>
        </div></div>
        <div role="tabpanel" class="tab-pane" id="settings"><div class="col-md-6 col-md-offset-3">
          <div class="panel" id="setting-panel">
            <div class="settings">
              <h3>Account Settings</h3>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <br>
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off" %>
                </div>
                <br>
                <div class="actions">
                  <%= f.submit "Update", { class: "btn btn-primary"} %>
                </div>
              <% end %>
            </div>
          </div>
        </div></div>
      </div>
    <% end %>
  </div>
</div>
<br>
<!-- <% if current_user.provider? %>
  <div class="col-md-5">
    <div class="panel">
      <div class="stats">
        <br><br>
        <h3>Stats</h3><br>
        <p>
          <strong>Card count: </strong><%= current_user.cards.count %>
        </p>
        <p>
          <strong>Case manager: </strong> Placeholder
        </p>
        <p>
          <strong>Progress: </strong> Placeholder
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <% @cards.each do |card| %>
    <div class="list-group">
      <a href="/cards/<%= card.id %>" class="list-group-item">
        <p class="list-group-item-emotion"><strong>Emotions: </strong>
          <% @emotions = card.emotions.split(', ') %>
          <% @emotions.each do |emotion| %>
            <span class="label label-default"><%= emotion %></span>
          <% end %>
        </p>
        <p class="list-group-item-intensity"><strong>Intensity: </strong><br><%= card.intensity %></p>
        <p class="list-group-item-thoughts"><strong>Thoughts: </strong><br><%= card.thoughts %></p>
        <p class="list-group-item-reflection"><strong>Reflection: </strong><br><%= card.reflection %></p>
      </a>
      <div class="edit">
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#edit_card">Edit</button>
      </div>
    </div>
    <% end %>
</div>
<% else %>
  <div class="col-md-5">
    <div class="panel">
      <div class="stats">
        <br><br>
        <h3>Stats</h3><br>
        <p>
          <strong>Card count: </strong><%= current_user.cards.count %>
        </p>
        <p>
          <strong>Case manager: </strong> Placeholder
        </p>
        <p>
          <strong>Progress: </strong> Placeholder
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <% @cards.each do |card| %>
    <div class="list-group">
      <a href="/cards/<%= card.id %>" class="list-group-item">
        <p class="list-group-item-emotion"><strong>Emotions: </strong>
          <% @emotions = card.emotions.split(', ') %>
          <% @emotions.each do |emotion| %>
            <span class="label label-default"><%= emotion %></span>
          <% end %>
        </p>
        <p class="list-group-item-intensity"><strong>Intensity: </strong><br><%= card.intensity %></p>
        <p class="list-group-item-thoughts"><strong>Thoughts: </strong><br><%= card.thoughts %></p>
        <p class="list-group-item-reflection"><strong>Reflection: </strong><br><%= card.reflection %></p>
      </a>
      <div class="edit">
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#edit_card">Edit</button>
      </div>
    </div>
    <% end %>
  </div>
<% end %> -->
