<!DOCTYPE html>
<html>
<head>
  <title>CbtCards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->
<%= render "welcome/sign_in_modal" %>
<%= render "welcome/sign_up_modal" %>
<% if current_user && current_user.provider? && @user %>
<%= render "users/new_goal" %>
<% elsif current_user %>
  <%= render "shared/new_card" %>
<% end %>
</body>
</html>
